@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/reset.scss";

.SeatInfo__container {
  width: 60%;
  font-family: $Kanit;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include mobile {
    width: 100%;
  }
  & h3 {
    font-weight: 700;
    font-size: 28px;
  }

  & .SeatInfo__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;


    &__text {
      color: $very-dark-gray;
      font-weight: 700;
      font-size: calc(10px + 0.3vw);
      padding-left: 10px;
    }


    &__box {
      display: flex;
      width: auto;
      gap: 10px;
      align-items: center;


      &__in {
        display: flex;
        width: 100%;
        align-items: center;
        border: solid 1px black;
        border-radius: 5px;
        padding: 2px;

        & button {
          width: 50px;
          height: 50px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 28px;
          border: none;
          &:hover {
            transform: scale(1.1);
          }
        }

        & .minus {
          background-color: $background-inv;
          color: $dark-gray;
          &:hover {
            border: 1px #000 solid;
          }
        }

        & .plus {
          background-color: $light-blue;
          color: white;
          &:hover {
            border: 1px #000 solid;
          }
        }

        &__count {
          padding: 10px 20px;
        }
      }
    }
  }

}