
.trailer_admin{
 width: 60vw;
 height: 600px;
 
}

.ytp-large-play-button {
    z-index: -999 !important;
}

#youtube-player::shadow .ytp-large-play-button.ytp-button {
    background-color: red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    color: white;
  }