@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);
$font-alata: 'Alata', sans-serif;;
$font-josefin-sans: 'Josefin Sans', sans-serif;
$font-body-color: #a5a5a5