@import "../../../assets/styles/variables.scss";

.bodyhome{
  display: flex;
  justify-content: center;
}
.mainHome {
  margin: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 1300px;
  font-family: $Kanit;
  &_text {
    align-self: flex-start;
    font-weight: 900;
    text-transform: uppercase;
    font-size: calc(10px + 0.5vw);
  }
  &_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    @include mobile {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    gap: 32px;
    &_child {
      &_text {
        font-size: calc(9px + 0.5vw);
        line-height: 35px;
        display: flex;
        flex-direction: column;
        &_runtime {
          background-image: linear-gradient(to bottom, #f0f3f6, #c9d1d9);
          color: #24292e;
          font-size: calc(9px + 0.5vw);
          font-weight: 900;
          max-width: 120px;
          text-align: center;
          //padding: 8px 1px;
          border: 1px solid rgba(27, 31, 35, 0.2);
          border-radius: 6px;
          margin-top: 10px;
          cursor: default;
          transition: background-color 0.2s ease;
          box-shadow: 0px 1px 0px rgba(27, 31, 35, 0.04),
            0px 1px 3px rgba(0, 0, 0, 0.12);
          &:hover {
            background-image: linear-gradient(to bottom, #e1e4e8, #c1c7d0);
          }
        }
      }

      &_figure {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          & .mainHome_cards_child_figure_img {
            filter: contrast(40%) brightness(60%);
            transform: scale(0.9);
            box-shadow: 0px 0px 50px black;
          }

          transition: all 200ms ease;
          & .mainHome_cards_child_figure_hover {
            display: flex;
            cursor: pointer;
            transition: all 200ms ease;
          }
        }
        &_hover {
          position: absolute;
          display: none;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          & figure {
            height: 100px;
            @include mobile {
              height: 70px;
            }
            & > img {
              filter: grayscale(0) saturate(2) brightness(1.1);
              height: 100%;
             
            }
          }
          & p {
            color: #fff;
            font-family: $Kanit;
            font-weight: 900;
            text-transform: uppercase;
            max-width: 100px;
            text-align: center;
            font-size: calc(12px + 0.5vw);
            letter-spacing: 3px;
          }
        }
      }
      & .mainHome_cards_child_figure > img {
        filter: brightness(90%);
        cursor: pointer;
        border-radius: 8px;
        width: 100%;
        height: auto;
        transition: all 300ms ease;
        box-shadow: 0px 0px 10px black;
      }
    }
  }
}
