@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/reset.scss";

.SeatInfoExtra__container {
  width: 40%;
  //height: 400px;
  padding: 30px;
  @include mobile{
    padding:  10px;
    width: 100%;
  }
  background-color: $background-inv;
  border-radius: 10px;
  font-family: $Kanit;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  & .SeatInfoExtra__film {
    width: 100%;
    display: flex;
    &__figure {
      width: 30%;
      height: auto;
      border: 10px #fff solid;
      @include mobile{
        border: 0;
      }
      & img {
        width: 100%;
      }
    }

    &__description {
      display: flex;
      width: 70%;
      flex-direction: column;
      gap: 5px;
      padding: 0px 10px;

      & p {
        font-weight: bold;
        & span {
          font-weight: 400;
        }
      }
    }
  }

  & .SeatInfoExtra__cost {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__info {
      font-weight: bold;
    }

    &__price {
      font-weight: bold;
      font-size: 28px;
    }

  }

  & .SeatInfoExtra__continue {
    padding: 10px;
    width: 100%;
    background-color: $dark-gray;
    color: white;
    border-radius: 20px;
    text-align: center;

    &__activated {
      padding: 10px;
      width: 100%;
      background-color: $light-blue;
      color: white;
      border-radius: 20px;
      text-align: center;
      cursor: pointer;
    }
  }
}